.navbar {
    background-color: #008080; /* Teal */
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.navbar-brand {
font-weight: bold;
}

.nav-links {
list-style: none;
display: flex;
}

.nav-item {
margin-left: 20px;
text-decoration: none;
color: white;
}

.nav-item:hover {
color: #FF7F50; /* Coral */
}

.nav-toggle {
display: none;
}

@media (max-width: 768px) {
.nav-links {
    display: none;
}

.nav-toggle {
    display: block;
    background: none;
    border: none;
    color: white;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
}
